<app-header title="Inicio"></app-header>

<ion-content>
  <ion-card class="ion-padding">
    <h1>AndresMind AI: <strong>Desata Tu Imaginación</strong></h1>

    <ion-card>
      <ion-card-header>
        <ion-card-title>¿Qué es AndresMind AI?</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
      AndresMind AI es la aplicación definitiva de inteligencia artificial
      diseñada para dar vida a tus ideas más creativas. Desde asistentes
      virtuales personalizados hasta generación de contenido innovador,
      AndresMind AI está aquí para potenciar tu mente creativa.
    </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Caracteristicas Destacadas</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          <strong>Generador Creativo:</strong>
          Transforma tus conceptos en obras maestras con la ayuda de algoritmos creativos.
        </p>
        <p>
          <strong>Asistente Personalizado:</strong>
          Un asistente virtual que se adapta a tu estilo de vida y aprende de tus preferencias.
        </p>
        <p>
          <strong>Análisis Predictivo:</strong>
          Anticipa tendencias y toma decisiones estratégicas con análisis predictivo avanzado.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h2>Cómo Funciona:</h2>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          <strong>Inspira con Ideas:</strong>
          Proporciona conceptos e ideas a través de la interfaz amigable.
        </p>
        <p>
          <strong>Procesamiento Creativo:</strong>
          AndresMind AI procesa la información y genera resultados creativos.
        </p>
        <p>
          <strong>Refinamiento Personalizado:</strong>
          Ajusta y personaliza los resultados para satisfacer tus necesidades.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Desata Tu Creatividad en Diversos Sectores
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          <strong>Arte y Diseño:</strong>
          Crea obras únicas con la ayuda de algoritmos creativos.
        </p>
        <p>
          <strong>Marketing:</strong>
          Genera contenido atractivo y personalizado para tu audiencia.
        </p>
        <p>
          <strong>Refinamiento Personalizado:</strong>
          Desarrolla historias y guiones innovadores para películas y programas.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Seguridad y Privacidad
          <br>
          <strong>Tu Creatividad, Tu Privacidad</strong>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          <strong>Seguridad de Datos:</strong>
          Implementamos las más altas medidas de seguridad para proteger tus ideas.
        </p>
        <p>
          <strong>Control Total:</strong>
          Tú decides cómo se utilizan y comparten tus creaciones.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          AndresMind AI Está a Tu Alcance
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          <strong>Descarga la App: </strong>
          Disponible en App Store y Google Play.
        </p>
        <p>
          <strong>Versatilidad:</strong>
          Accede a tus creaciones desde cualquier dispositivo en cualquier momento.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Únete a la Revolución Creativa</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Descubre el Potencial de AndresMind AI
      </ion-card-content>

      <ion-button expand="full">
        <a href="https://www.instagram.com/andressr.r/"></a>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
    </ion-card>
